@use "src/app/styles/nde-variables" as vars;
@use "src/app/styles/nde-mixing" as mixing;


.container[_ngcontent-ng-c1837336355] .custom-search-bar-container[_ngcontent-ng-c1837336355] .background-overlay[_ngcontent-ng-c1837336355] {
  position: absolute;
  inset: 0;
  background-color: #660001;
  opacity: .65;
  z-index: 1;
  pointer-events: none;
}

.custom-search-bar-container h2 {
  text-shadow: 0px 0px 20px #100;
  font-size: 3.25rem!important;
}

.container[_ngcontent-ng-c1837336355] .custom-search-bar-container[_ngcontent-ng-c1837336355] {
  height: 25rem;
}


h2.homepage-header {
  margin: -0.5rem 0 -0.5rem 0!important;
}

.home-page-container[_ngcontent-ng-c742759394] {
    margin-top: 0rem;
    padding: 3rem 0 3rem 0;
    background-color: #f4f4f4;
}


.main-menu-container[_ngcontent-ng-c1791789933] .mdc-button[_ngcontent-ng-c1791789933] {
    --mdc-filled-button-label-text-transform: none;
    --mdc-text-button-label-text-transform: none;
}

#search-coverage {
  width:87%;
}

.main-landing-page {
  width: vars.$responsiveWidth;
  @include vars.set-responsive-width;
  margin: 0 auto;
  gap: 3rem;
  //need to delete when the Featured Books will be developed
  margin-block-end: 100px;

  @include mixing.respond-to('xsmall') {
    width: 100%;
  }

  .menu-container {
    .menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
      grid-row-gap: 1.5rem;
      grid-column-gap: 1rem;
      li {

        a {
          background-color: #ffffff;
          display: flex;
          padding: 1rem;
          border: .0625rem solid #cccccc;
          border-radius: .5rem;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          font-family: inherit;
          cursor: pointer;
          height: 100%;

          @include mixing.respond-to('large', 'xlarge') {

            &:hover, &:focus {
            transition: box-shadow .3s, transform .3s ease-in-out;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
            transform: translateY(-1.1875rem);
          }

          }



          .icon {
            background-color: var(--sys-inverse-on-surface);
            border-radius: 50%;
            width: 3.75rem;
            height: 3.75rem;
            align-items: center;

            @include mixing.respond-to('medium', 'small', 'xsmall') {
              width: 2.5rem;
              height: 2.5rem;
              align-items: normal;
              justify-content: center;
            }
          }

          .icon-color{
            circle{
              fill: var(--sys-primary-fixed);
            }
            mask{
              rect{
                fill: var(--sys-on-primary-fixed-variant);
              }
            }
            g{
              path{
                fill: var(--sys-on-primary-fixed-variant);
              }
            }
          }

          span {
            margin-top: .3125rem;
            font-size: vars.$bigFontSize;
            font-weight: vars.$bold;
            display: flex;
            align-items: center;
            min-height: 2.5rem;
            text-align: center;

            @include mixing.respond-to('medium', 'small', 'xsmall') {
              font-size: .88rem;
              min-height: 2.2rem;
            }
          }
        }
      }
    }
  }

  li ul li {
  margin-left: 1.5rem;
  list-style: circle;
  }

  .welcome-announcements-container {
    gap: 2rem;

    @include mixing.respond-to('small', 'xsmall') {
      flex-direction: column;
    }

    .welcome {
      padding: 1.5rem;
      gap: 1.5rem;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;

      @include mixing.respond-to('small', 'xsmall') {
        padding: 0;
      }

      .welcome-title {
        margin-block-end: .5rem;
        @include mixing.respond-to('medium', 'small', 'xsmall') {
          font-size: vars.$largeFontSize;
        }
      }

      .welcome-content {
        font-size: vars.$bigFontSize;
        font-weight: vars.$normal;

        @include mixing.respond-to('medium', 'small', 'xsmall') {
          font-size: vars.$mediumFontSize;
        }
      }

      a {
        padding-block: .5rem;
        padding-inline: 1rem;
        border-radius: 2rem;
        background-color: var(--sys-primary);
        color: var(--whiteText);
        font-weight: vars.$bold;
        font-size: vars.$bigFontSize;
        font-family: inherit;
        text-align: center;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-underline: none;

        @include mixing.respond-to('medium', 'small', 'xsmall') {
          font-size: vars.$mediumFontSize;
        }

        &:hover {
          background-color: var(--sys-surface-tint);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px white, 0 0 0 3px #000000;
        }
      }
    }

    .announcements {
      background-color: #ffffff;
      padding: 1.5rem;
      border-radius: .5rem;
      border: .0625rem #cccccc solid;
      max-width: 100%;
      gap:1rem;


      @include mixing.respond-to('small', 'xsmall') {
        padding: 1rem;
        gap: 1rem;
        max-width: none;
      }

      .announcements-item-main-title{
        font-size: vars.$mediumFontSize;
        font-weight: vars.$normal;
        line-height: 2rem;

      }

      .announcements-item-title {
        color: var(--darkText);

        @include mixing.respond-to('medium', 'small', 'xsmall') {
          font-size: vars.$largeFontSize;
        }
      }
    }
  }

  .about {
    .about-content {
      @include mixing.respond-to('small', 'xsmall') {
        flex-direction: column-reverse;
      }

      .about-text {
        padding: 1.5rem 2rem;
        background-color: #ffffff;
        gap: 1.5rem;
        border: 1px solid #cccccc;
        border-radius: 10px 0 0 10px;
        width: 80%

        @include mixing.respond-to('small', 'xsmall') {
          padding: 1rem;
          gap: 1rem;
        }

        .about-text-title {
          font-weight: vars.$bold;
          font-size: vars.$xLargeFontSize;

          @include mixing.respond-to('medium') {
            font-size: vars.$largeFontSize;
          }

          @include mixing.respond-to('small', 'xsmall') {
            font-size: vars.$largeFontSize;
          }
        }

        .about-text-description {
          line-height: 2rem;
          font-size: vars.$largeFontSize;
          font-weight: vars.$normal;

          @include mixing.respond-to('medium', 'small', 'xsmall') {
            font-size: vars.$mediumFontSize;
            line-height: 1.4rem;
          }
        }

        .help-sign-in-container {
          font-size: vars.$largeFontSize;

          @include mixing.respond-to('medium', 'small', 'xsmall') {
            font-size: vars.$mediumFontSize;

            ul {
              li {
                margin-block: .625rem;
              }
            }
          }

          ul {
            li {
              margin-block: 1rem;
              display: flex;
              align-items: center;
              gap: .5rem;
            }
          }
        }
      }

      .about-image {
        img {
          width: auto;
          height: 100%;
          object-fit: cover;
          border-radius: 0 .625rem .625rem 0;

          @include mixing.respond-to('small', 'xsmall') {
            border-radius: .625rem .625rem 0 0;
            width: 100%;
          }
        }
      }
    }
  }

}


